body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #19191a, #555454);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background: url("images/mahabharta.png") ;
  background-size: cover;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

.form-container {
  background: rgba(255, 255, 255, 0.9);;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 350px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s ease;
  height: 42px;
  box-sizing: border-box;
}

.form-group input:focus, .form-group select:focus {
  border-color: #96d72e;
}

.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background: #4a90e2;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #05325f;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  animation: popup 0.3s ease;
}

.modal-content h3 {
  margin: 0 0 10px;
  color: #7bb3f4;
}

.modal-content p {
  color: #313131;
}

.close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #555;
}

.close:hover {
  color: #000;
}

.error {
  color: red;
  font-size: 12px;
}


@keyframes popup {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
